<nav id="menuDesktop">
    <div>
        <img class="logo" src="/img/logo.png" alt="">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#">Battles <img src="/img/chevron.svg" alt=""></a>
                <ul class="submenu">
                    <li><a href="/my-battles" class="insideLink">My Battles</a></li>
                    <li><a href="/active-battles" class="insideLink">Active Battles</a></li>
                    <li><a href="/show-battles" class="insideLink">Check Results</a></li>
                    <li><a href="/createBattle" class="insideLink">Create New Battle</a></li>
                </ul>
            </li>
            <li><a href="/logOut">Logout</a></li>
        </ul>
    </div>
</nav>

<nav id="menuMobile">
    <span><img id="menuTrigger" src="/img/menu.svg" alt=""></span>
    <article class="hamburger" style="display: none;">
        <span><img id="closeTrigger" src="/img/close.svg" alt=""></span>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
                <p id="battlesTrigger">Battles <img src="/img/chevron.svg" alt=""></p>
                <ul id="battlesList" style="display: none;">
                    <li><a href="/my-battles" class="insideLink">My Battles</a></li>
                    <li><a href="/active-battles" class="insideLink">Active Battles</a></li>
                    <li><a href="/show-battles" class="insideLink">Check Results</a></li>
                    <li><a href="/createBattle" class="insideLink">Create New Battle</a></li>
                </ul>
            </li>
            <li><a href="/logOut" class="logout">Logout</a></li>
        </ul>
    </article>
</nav>