<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="">Cards</a></li>
        <li><a href="">Battles</a></li>
        <li><a href="/config">Config</a></li>
    </ul>
</nav>