<nav id="navbar">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/usercards">Cards</a></li>
        <li><a href="/history">Battles</a></li>
        <li><a href="/userdata">Config</a></li>
    </ul>
</nav>