<section class="header">

    <article class="content">
        <div class="userImg" style="background-image: url('{{imgUser}}');"></div>
        <div class="userInfo">
            <h3>{{username}}</h3>
            <input type="hidden" id="winNumber" value="{{win}}">
            <input type="hidden" id="loseNumber" value="{{lose}}">
            <div id="fondo-rank">
                <div id="puntos"></div>
            </div>
        </div>
    </article>
</section>