
<section id="battlesMain" class="wrapper">
    <a href="/my-battles" class="sectionLink">My Battles</a>
    <a href="/active-battles" class="sectionLink">Active Battles</a>
    <a href="/show-battles" class="sectionLink">Check Results</a>
    <a href="/createBattle" class="primary">Create New Battle</a>
</section>