<a href="/my-battles" class="primary">My Battles</a>
<a href="/active-battles" class="primary">Active Battles</a>
<a href="/show-battles" class="primary">Show Battles</a>
<a href="/createBattle" class="primary">Create</a>