{{!-- Mostramos menu para acceder a las distintas opciones de los combates --}}

{{!-- combates propios creados y no finalizados --}}
<a href="/my-battles" class="primary">My Battles</a>

{{!-- combates de otros usuarios a los que puedes unirte --}}
<a href="/active-battles" class="primary">Active Battles</a>

{{!-- combates terminados en los que no conocemos el resultado --}}
<a href="/show-battles" class="primary">Show Battle Results</a>

{{!-- acceder al formulario para crear combate --}}
<a href="/createBattle" class="primary">Create</a>