{{> userHeader}}
{{> navbar}}

<section id="firstCards" class="wrapper">
    <h1 class="center">Primeras cartas</h1>
    <article class="cards" id="cardsMobile">
        <div id="cardsViewportMobile">
            {{#each cards}}
            <img class="card" src="{{imgUser}}" alt="pokemon-card">
            {{/each}}
        </div>
        </div>
    </article>
    <article class="cards" id="cardsDesktop">
        <div id="cardsViewport">
            {{#each cards}}
            <img class="card" src="{{imgUser}}" alt="pokemon-card">
            {{/each}}
        </div>
        </div>
    </article>
    <a href="/dashboard" class="primary">Continue to your Profile</a>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script src="./js/slider.script.js"></script>