<section id="firstCards">
    <h1>Primeras cartas</h1>
    <article class="cards" id="cardsContainer">
        <div id="cardsViewport">
            {{#each finalCards}}
            <img class="card" src="{{this.imgUser}}" alt="pokemon-card">
            {{/each}}
        </div>
        </div>
    </article>
    <a href="/mainProfile" class="primary">Continue to your Profile</a>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>