<section id="header">
    <img src="./img/logo.png" alt="Pokemon-logo" class="logo">
</section>

<section id="content" class="wrapper">
    <h1 class="center">Heading 1</h1>
    <h4 class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    <div class="buttons">
        <a href="/signIn" class="primary">Sign In</a>
        <a href="/logIn" class="btn secondary">Log In</a>
    </div>
</section>



{{#if alert}}
<section id="alert">
    <article>
        <h3>{{alert}}</h3>
    </article>
</section>
{{/if}}