<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>PokeIron</title>
</head>

<body>
    {{{body}}}
</body>
<script src="/js/eloRank.script.js"></script>
<script src="/js/chart.script.js"></script>
<script src="/js/script.js"></script>


</html>