{{> userHeader}}

{{> navbar}}

<section id="mainProfile" class="wrapper">
    <article class=" widget cardsWidget">
        <h3>
            {{#each cards}}
            <div>
                <span class="tipo {{tipo}}"></span>
                <p>{{name}}</p>
                <p>HP {{hp}}</p>
            </div>
            {{/each}}
        </h3>
    </article>

</section>
<section class="logout wrapper">
    <a href="/logOut" class="secondary">Log Out</a>
</section>