{{> userHeader}}

{{> navbar}}

<section id="mainProfile" class="wrapper">
    <article class=" widget cardsWidget">
        <h3>Your Cards</h3>
        {{#each cards}}
        <a href="/{{_id}}">
            <div>
                <span class="tipo {{tipo}}"></span>
                <p>{{name}}</p>
                <p>HP {{hp}}</p>
            </div>
        </a>
        {{/each}}
    </article>

</section>
<section class="logout wrapper">
    <a href="/logOut" class="secondary">Log Out</a>
</section>