<section id="firstOpening" class="wrapper">
    <h1 class="center">Your first opening</h1>
    <img src="./img/back-card.png" alt="sobre-pokemon">
    <a href="/openFirst" class="primary">Open</a>
</section>