<section id="form" class="wrapper">
    <img src="./img/logo.png" alt="Pokemon-logo" class="logo">
    <h4 class="center">Lorem ipsum dolor sit.</h4>
    <form action="/signIn" method="POST">
        <label for="name">Nombre Usuario</label>
        <input type="text" name="username" id="name" placeholder="Pikachu23" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="team@rocket.com" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="Pokemaniatico123" required>
        <ul class="rules">
            <li id="longitud">Debe tener al menos 6 caracteres</li>
            <li id="mayus">Debe de incluir una mayúscula</li>
            <li id="minus">Debe incluir una minúscula</li>
            <li id="num">Debe incluir un número</li>
        </ul>
        <button type="submit" class="primary">Submit</button>
    </form>
</section>
{{#if alert}}
<section id="alert">
    <article>
        <h3>{{alert}}</h3>
    </article>
</section>
{{/if}}