$yellow: #ffcb05;
$white: #ffffff;
$orange: #f2994a;
$darkBlue: #003a70;
$green: #219653;
$purple: #bb6bd9;
$black: #000000;
$lightBlue: #3d7dca;
$grey: #c4c4c4;
$lightYellow: rgba(255, 203, 5, 0.31);
