@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./mixins.scss";

body {
  font-family: "Sora", sans-serif;
  color: $black;
  @include tablet {
    font-size: 18px;
    line-height: 22px;
  }
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  margin: 16px 0;
  color: $darkBlue;
  @include tablet {
    font-size: 34px;
    line-height: 38px;
  }
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin: 16px 0;
  @include tablet {
    font-size: 26px;
    line-height: 30px;
  }
}

h3 {
  font-weight: 600;
  font-size: 18px;
  @include tablet {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  margin: 16px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  @include tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.center {
  text-align: center;
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  font-weight: 400;
}
