@mixin btn($backgroundColor) {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: $backgroundColor;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
}
