@import "./colors.scss";
@import "./font.scss";
@import "./mixins.scss";

/* --------- Styles ---------*/
body {
  overscroll-behavior-x: none;
  section#alert {
    text-align: center;
    padding: 1em;
    background-color: $darkBlue;
    color: $white;
  }

  .widget {
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1em;
    margin: 20px 0;
  }

  .primary {
    @include btn($yellow);
  }

  .secondary {
    @include btn($white);
  }

  .wrapper {
    max-width: 1000px;
    padding: 1em;
  }

  .logout {
    background-color: $darkBlue;
  }

  .nav-active {
    color: $darkBlue;
    font-weight: 600;
    padding-bottom: 5px;
  }

  /* ---- Partials ---- */

  #menuDesktop {
    display: none;
  }
  #menuMobile {
    background-color: $darkBlue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    img {
      float: right;
      width: 1.5em;
    }
    .hamburger {
      background-color: $darkBlue;
      padding: 1em;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      height: 100vh;
      color: $white;
      flex-direction: column;
      width: 50%;
      box-shadow: -9px 2px 11px 2px rgba(0, 0, 0, 0.38);
      transition: dispLay 0.5s;
      ul {
        margin-top: 1em;
        display: unset;
        p {
          img {
            width: 16px;
            float: unset;
          }
        }
        li {
          margin: 15px 0;
          ul {
            li {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $lightYellow;
    align-items: center;
    gap: 1em;
    img {
      border: 3px solid $yellow;
      width: 40%;
      clip-path: circle(45% at center);
    }
    h3 {
      flex-basis: 60%;
      text-transform: capitalize;
    }
  }

  nav {
    padding: 1em;
    ul {
      display: flex;
      justify-content: space-around;
      gap: 0.5em;
      .nav-active::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 40%;
        border: 2px solid $darkBlue;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        transform: translateX(-50%);
      }

      a {
        position: relative;
      }
    }
  }

  /* ---- Landing ----- */

  #header {
    background: linear-gradient(
        0deg,
        rgba(51, 51, 51, 0.56),
        rgba(51, 51, 51, 0.56)
      ),
      url("/img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 2em;
  }

  .menu {
    background-color: $darkBlue;
    padding: 1em;
    h4 {
      color: $white;
    }
  }

  .logo {
    width: 65%;
    display: block;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
  }

  #form {
    margin: 1em auto;
    h2 {
      margin: 0 0 1em 0;
    }
    h4 {
      margin: 0 0 1em 0;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        margin: 10px 0;
        height: 2em;
        border: 1px solid $darkBlue;
        border-radius: 14px;
        padding: 0.5em;
        font-size: 14px;
      }

      button {
        margin-top: 20px;
        align-self: center;
      }

      ul {
        font-size: 14px;
        font-weight: 200;
        li {
          margin: 5px 0;
        }
      }
    }
  }

  /* ------ Cards ------- */

  #firstOpening {
    a {
      margin: 0 auto;
    }
    img {
      width: 100%;
      margin: 2em auto;
    }
  }

  #firstCards {
    display: none;
    #cardsViewport-mw {
      margin: 16px;
      .tns-item {
        width: calc(15.6667%);
        margin: 10px;
      }
    }
    .tns-liveregion.tns-visually-hidden {
      display: none;
    }
    .tns-controls {
      width: fit-content;
      margin: 20px auto;
      button {
        @include btn($white);
        display: inline-block;
        min-width: 50px;
        margin: 5px;
      }
    }
  }

  .pokeName {
    background-color: $lightYellow;
  }

  .tipo {
    background-image: url("../img/energy-logo.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 3px;
  }

  .Grass {
    background-position: -25px -50px;
  }

  .Fire {
    background-position: 0 0;
  }

  .Water {
    background-position: -75px -50px;
  }

  .Colorless {
    background-position: -25px 0;
  }

  .Fighting {
    background-position: -50px -25px;
  }

  .Lightning {
    background-position: -50px -50px;
  }

  .Psychic {
    background-position: -75px -25px;
  }

  .metal {
    background-position: -75px 0;
  }

  a {
    margin: 0 auto;
  }

  .cardDetail {
    img {
      width: 100%;
    }
    div {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        line-height: 25px;
      }
      :first-child {
        display: flex;
        align-items: center;
      }
      span {
        margin: 0 5px;
      }
    }
  }

  /* ------- Main Profile --------- */

  #mainProfile {
    .cardsWidget {
      div {
        display: flex;
        margin: 20px 0;
        align-items: center;
        span {
          margin-right: 0.5em;
        }
        p {
          flex-basis: 65%;
        }
        p:last-child {
          flex-basis: 20%;
          text-align: right;
        }
      }
    }
  }
}

/*-----------Loading Page-------*/

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames 0.8s linear 0s infinite;

    &:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 30px;
      background-color: red;
      border-bottom: 4px solid;
      top: -2px;
    }

    &:before {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 10px;
      height: 10px;
      border: 4px solid;
      border-radius: 50%;
      bottom: 21px;
      right: 21px;
      z-index: 1;
    }
  }
}

/* ----- Config -------- */

#form {
  .custom-file-input {
    border: none;
    height: unset;
    color: $white;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &::before {
      content: "Select image";
      @include btn($white);
      color: $darkBlue;
      margin: 0 auto;
    }
  }
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******Fight Animation ***/

canvas {
  border: 1px solid $darkBlue;
}

/* ----- Battles Activas ------- */

#battlesList {
  .widget {
    .widgetContent {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 1em;

      span {
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1.5em;
      }
      p {
        margin: 10px 0;
      }
      img {
        border: 3px solid $yellow;
        width: 30%;
        clip-path: circle(45% at center);
        float: left;
      }
    }
  }
}
