@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Sora", sans-serif;
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  margin: 16px 0;
  color: #003a70;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin: 16px 0;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

h4 {
  margin: 16px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.center {
  text-align: center;
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  font-weight: 400;
}

/* --------- Styles ---------*/
body {
  overscroll-behavior-x: none;
  /* ---- Partials ---- */
  /* ---- Landing ----- */
  /* ------ Cards ------- */
  /* ------- Main Profile --------- */
}

body section#alert {
  text-align: center;
  padding: 1em;
  background-color: #003a70;
  color: #ffffff;
}

body .widget {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1em;
}

body .primary {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffcb05;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

body .secondary {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

body .wrapper {
  max-width: 1000px;
  padding: 1em;
}

body .logout {
  background-color: #003a70;
}

body .nav-active {
  color: #003a70;
  font-weight: 600;
  padding-bottom: 5px;
}

body .header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(255, 203, 5, 0.31);
  align-items: center;
  gap: 1em;
}

body .header img {
  border: 3px solid #ffcb05;
  width: 40%;
  clip-path: circle(45% at center);
}

body .header h3 {
  flex-basis: 60%;
  text-transform: capitalize;
}

body nav {
  padding: 1em;
}

body nav ul {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

body nav ul .nav-active::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 40%;
  border: 2px solid #003a70;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  transform: translateX(-50%);
}

body nav ul a {
  position: relative;
}

body #header {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.56), rgba(51, 51, 51, 0.56)), url("/img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 2em;
}

body .menu {
  background-color: #003a70;
  padding: 1em;
}

body .menu h4 {
  color: #ffffff;
}

body .logo {
  width: 65%;
  display: block;
  margin: 0 auto;
}

body .buttons {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

body #form {
  margin: 2em auto;
}

body #form h4 {
  margin: 1.5em 0;
}

body #form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body #form form input {
  margin: 10px 0;
  height: 2em;
  border: 1px solid #003a70;
  border-radius: 14px;
  padding: 0.5em;
  font-size: 14px;
}

body #form form button {
  margin-top: 20px;
  align-self: center;
}

body #form form ul {
  font-size: 14px;
  font-weight: 200;
}

body #form form ul li {
  margin: 5px 0;
}

body #firstOpening a {
  margin: 0 auto;
}

body #firstOpening img {
  width: 100%;
  margin: 2em auto;
}

body #firstCards {
  display: none;
}

body #firstCards #cardsViewport-mw {
  margin: 16px;
}

body #firstCards #cardsViewport-mw .tns-item {
  width: calc(15.6667%);
  margin: 10px;
}

body #firstCards .tns-controls {
  width: fit-content;
  margin: 20px auto;
}

body #firstCards .tns-controls button {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  display: inline-block;
  min-width: 50px;
  margin: 5px;
}

body .pokeName {
  background-color: rgba(255, 203, 5, 0.31);
}

body .tipo {
  background-image: url("../img/energy-logo.png");
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 3px;
}

body .Grass {
  background-position: -25px -50px;
}

body .Fire {
  background-position: 0 0;
}

body .Water {
  background-position: -75px -50px;
}

body .Colorless {
  background-position: -25px 0;
}

body .Fighting {
  background-position: -50px -25px;
}

body .LLightning {
  background-position: -50px -50px;
}

body .Psychic {
  background-position: -75px -25px;
}

body .metal {
  background-position: -75px 0;
}

body a {
  margin: 0 auto;
}

body .cardDetail img {
  width: 100%;
}

body .cardDetail div {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .cardDetail div p {
  line-height: 25px;
}

body .cardDetail div :first-child {
  display: flex;
  align-items: center;
}

body .cardDetail div span {
  margin: 0 5px;
}

body #mainProfile .cardsWidget div {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

body #mainProfile .cardsWidget div span {
  margin-right: 0.5em;
}

body #mainProfile .cardsWidget div p {
  flex-basis: 65%;
}

body #mainProfile .cardsWidget div p:last-child {
  flex-basis: 20%;
  text-align: right;
}

/*-----------Loading Page-------*/
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading .pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

#loading .pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -2px;
}

#loading .pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 21px;
  right: 21px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
