@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Sora", sans-serif;
  color: #000000;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 22px;
  }
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  margin: 16px 0;
  color: #003a70;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 34px;
    line-height: 38px;
  }
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin: 16px 0;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  margin: 16px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

.center {
  text-align: center;
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  font-weight: 400;
}

/* --------- Styles ---------*/
.back a {
  padding: 2em;
  float: right;
}

.back img {
  width: 1.5em;
}

body {
  overscroll-behavior-x: none;
  /* ---- Partials ---- */
  /* ---- Landing ----- */
  /* ------ Cards ------- */
  /* ------- Main Profile --------- */
}

body section#alert {
  text-align: center;
  padding: 1em;
  background-color: #003a70;
  color: #ffffff;
}

body .header-title {
  background-color: rgba(255, 203, 5, 0.31);
  padding: 3em 1em;
}

body .widget {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1em;
  margin: 0.5em 0;
}

@media only screen and (min-width: 768px) {
  body .widget {
    padding: 2em;
  }
}

body .empty {
  text-align: center;
}

body .empty h3 {
  line-height: 1.25em;
  margin: 1em 0 1em 0;
}

body .empty img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body .empty {
    width: 75%;
  }
}

body .primary {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffcb05;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  transition: scale 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  body .primary {
    font-size: 18px;
    line-height: 20px;
  }
}

body .primary:hover {
  transform: scale(1.1);
}

body .secondary {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  transition: scale 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  body .secondary {
    font-size: 18px;
    line-height: 20px;
  }
}

body .secondary:hover {
  transform: scale(1.1);
}

body .wrapper {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body .wrapper {
    padding: 1em 3em;
  }
}

@media only screen and (min-width: 992px) {
  body .wrapper {
    padding: 3em;
  }
}

body .logout {
  background-color: #003a70;
}

body .nav-active {
  color: #003a70;
  font-weight: 600;
  padding-bottom: 5px;
}

body .menu-active {
  color: #ffcb05 !important;
}

body #menuDesktop {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #003a70;
}

body #menuDesktop div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body #menuDesktop a {
  width: 10%;
  margin: 0;
}

body #menuDesktop a img {
  width: 90%;
}

body #menuDesktop ul li {
  margin: 10px;
  display: inline-block;
}

body #menuDesktop ul li:hover ul {
  display: block;
}

body #menuDesktop ul li:hover img {
  transform: rotate(180deg);
}

body #menuDesktop ul li ul {
  display: none;
  position: absolute;
  background-color: #003a70;
  padding: 1em;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

body #menuDesktop ul li ul li {
  display: block;
}

body #menuDesktop ul li a {
  color: #ffffff;
}

body #menuDesktop ul li a img {
  width: 1em;
  transition: transform 0.5s ease-in-out;
}

body #menuDesktop ul li a:hover {
  color: #ffcb05;
}

@media only screen and (min-width: 992px) {
  body #menuDesktop {
    display: block;
  }
}

body #menuMobile {
  padding: 1em;
  background-color: #003a70;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body #menuMobile img {
  float: right;
  width: 1.5em;
}

@media only screen and (min-width: 768px) {
  body #menuMobile img {
    width: 2em;
  }
}

body #menuMobile .hamburger {
  background-color: #003a70;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  color: #ffffff;
  flex-direction: column;
  width: 50%;
  box-shadow: -9px 2px 11px 2px rgba(0, 0, 0, 0.38);
  transition: dispLay 0.5s;
}

body #menuMobile .hamburger ul {
  margin-top: 1em;
  display: unset;
}

body #menuMobile .hamburger ul p img {
  width: 16px;
  float: unset;
}

body #menuMobile .hamburger ul li {
  margin: 15px 0;
}

body #menuMobile .hamburger ul li ul li {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  body #menuMobile {
    padding: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  body #menuMobile {
    display: none;
  }
}

body .header {
  background-color: rgba(255, 203, 5, 0.31);
}

body .header .content {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
  gap: 1em;
  max-width: 500px;
}

body .header .content .userImg {
  width: 100px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 5px solid #ffcb05;
}

@media only screen and (min-width: 768px) {
  body .header .content .userImg {
    width: 130px;
  }
}

@media only screen and (min-width: 992px) {
  body .header .content .userImg {
    width: 10em;
  }
}

body .header .content .userInfo {
  flex-basis: 60%;
}

body .header .content .userInfo h3 {
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  body .header .content .userInfo h3 {
    font-size: 30px;
  }
}

body .header .content .userInfo #fondo-rank {
  margin-top: 10px;
  background-color: #00000057;
  height: 5px;
  border-radius: 20px;
  width: 100%;
}

body .header .content .userInfo #puntos {
  background-color: #003a70;
  height: 5px;
  border-radius: 20px;
  width: 100%;
  transition: width 1s;
}

@media only screen and (min-width: 768px) {
  body .header .content {
    width: 80%;
    margin: 0 auto;
  }
}

body #navbar {
  padding: 2em 0 1em 0;
}

body #navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

body #navbar ul .nav-active::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 40%;
  border: 2px solid #003a70;
  background-color: #003a70;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  transform: translateX(-50%);
}

body #navbar ul a {
  position: relative;
}

@media only screen and (min-width: 768px) {
  body #navbar {
    width: 50%;
    margin: 0 auto;
  }
}

body #header {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.56), rgba(51, 51, 51, 0.56)), url("/img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 2em;
}

body .menu {
  background-color: #003a70;
  padding: 1em;
}

body .menu h4 {
  color: #ffffff;
}

body .logo {
  width: 65%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body .logo {
    width: 40%;
  }
}

body .buttons {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  overflow: unset;
}

@media only screen and (min-width: 768px) {
  body .buttons {
    margin: 2em auto;
    width: 50%;
  }
}

body #form {
  margin: 1em auto;
}

body #form h2 {
  margin: 0 0 1em 0;
}

body #form h4 {
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  body #form h4 {
    margin: 2em 0 1em 0;
  }
}

body #form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  body #form form {
    width: 50%;
    margin: 0 auto;
  }
}

body #form form input {
  margin: 10px 0;
  height: 2em;
  border: 1px solid #003a70;
  border-radius: 14px;
  padding: 0.5em;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  body #form form input {
    font-size: 18px;
    line-height: 22px;
    border-radius: 18px;
    padding: 0.5em 1em;
  }
}

body #form form button {
  margin-top: 20px;
  align-self: center;
}

body #form form ul {
  font-size: 14px;
  font-weight: 200;
}

@media only screen and (min-width: 768px) {
  body #form form ul {
    font-size: 18px;
    line-height: 22px;
  }
}

body #form form ul li {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  body #firstOpening {
    width: 60%;
    text-align: center;
  }
}

body #firstOpening a {
  margin: 0 auto;
}

body #firstOpening img {
  width: 100%;
  margin: 2em auto;
}

@media only screen and (min-width: 768px) {
  body #firstOpening img {
    width: unset;
    height: 60vh;
  }
}

body #firstCards {
  display: none;
}

@media only screen and (min-width: 768px) {
  body #firstCards #cardsMobile {
    width: 70%;
    margin: 0 auto;
  }
}

body #firstCards #cardsDesktop #cardsViewport {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}

body #firstCards #cardsDesktop #cardsViewport .card {
  width: 29%;
}

body #firstCards #cardsViewport-mw {
  margin: 16px;
}

body #firstCards #cardsViewport-mw .tns-item {
  width: calc(15.6667%);
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  body #firstCards #cardsViewport-mw .tns-item {
    margin-top: 1em;
  }
}

body #firstCards .tns-liveregion.tns-visually-hidden {
  display: none;
}

body #firstCards .tns-controls {
  -moz-width: 20px;
  width: fit-content;
  margin: 20px auto;
}

body #firstCards .tns-controls button {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  transition: scale 0.5s ease-in-out;
  display: inline-block;
  min-width: 50px;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  body #firstCards .tns-controls button {
    font-size: 18px;
    line-height: 20px;
  }
}

body #firstCards .tns-controls button:hover {
  transform: scale(1.1);
}

body #firstCards button {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body #firstCards button {
    width: 60px;
    height: 60px;
  }
}

body .pokeName {
  background-color: rgba(255, 203, 5, 0.31);
}

@media only screen and (min-width: 768px) {
  body .pokeName h2 {
    padding: 1em;
    font-size: 40px;
  }
}

body .tipo {
  background-image: url("../img/energy-logo.png");
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 3px;
}

body .Grass {
  background-position: -25px -50px;
}

body .Fire {
  background-position: 0 0;
}

body .Water {
  background-position: -75px -50px;
}

body .Colorless {
  background-position: -25px 0;
}

body .Fighting {
  background-position: -50px -25px;
}

body .Lightning {
  background-position: -50px -50px;
}

body .Psychic {
  background-position: -75px -25px;
}

body .metal {
  background-position: -75px 0;
}

body a {
  margin: 0 auto;
}

body .cardDetail img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  body .cardDetail img {
    width: 50%;
  }
}

body .cardDetail div {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  body .cardDetail div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
  }
}

body .cardDetail div p {
  line-height: 25px;
}

@media only screen and (min-width: 768px) {
  body .cardDetail div p {
    font-size: 30px;
    line-height: 30px;
  }
}

body .cardDetail div :first-child {
  display: flex;
  align-items: center;
}

body .cardDetail div span {
  margin: 0 5px;
}

@media only screen and (min-width: 768px) {
  body .cardDetail {
    width: 60%;
    margin: 3em auto;
  }
}

@media only screen and (min-width: 992px) {
  body .cardDetail {
    display: flex;
    gap: 2em;
  }
}

@media only screen and (min-width: 992px) {
  body #mainProfile #chart {
    width: 45%;
  }
}

body #mainProfile .cardsWidget div {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

body #mainProfile .cardsWidget div span {
  margin-right: 0.5em;
}

body #mainProfile .cardsWidget div p {
  flex-basis: 65%;
}

@media only screen and (min-width: 768px) {
  body #mainProfile .cardsWidget div p {
    flex-basis: 71%;
  }
}

body #mainProfile .cardsWidget div p:last-child {
  flex-basis: 20%;
  text-align: right;
}

@media only screen and (min-width: 992px) {
  body #mainProfile .cardsWidget {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  body #mainProfile {
    display: flex;
    gap: 1em;
  }
}

/*-----------Loading Page-------*/
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  #loading {
    top: 75%;
  }
}

#loading .pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

#loading .pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -2px;
}

#loading .pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 21px;
  right: 21px;
  z-index: 1;
}

/* ----- Config -------- */
#form .custom-file-input {
  border: none;
  height: unset;
  color: #ffffff;
}

#form .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

#form .custom-file-input::before {
  content: "Select image";
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #003a70;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
  display: block;
  min-width: 150px;
  width: fit-content;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  transition: scale 0.5s ease-in-out;
  color: #003a70;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #form .custom-file-input::before {
    font-size: 18px;
    line-height: 20px;
  }
}

#form .custom-file-input::before:hover {
  transform: scale(1.1);
}

/* AnimationFrames */

@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******Fight Animation ***/
.fondo {
  background-color: rgba(255, 203, 5, 0.31);
  position: relative;
  height: 100vh;
}

.fight-animation .descripcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fight-animation .descripcion h3 {
  text-transform: capitalize;
}

.fight-animation canvas {
  margin: 1em auto;
  border: 3px solid #003a70;
  border-radius: 24px;
}

.result {
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: #3d7dca;
  height: 20%;
  width: 60%;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #003a70;
  border-radius: 24px;
}

.result h1 {
  color: #ffffff;
}

/* ----- Battles Activas ------- */
#battlesList .widget {
  margin: 1em 0;
}

#battlesList .widget a {
  margin-top: 1em;
}

#battlesList .widget .widgetContent {
  display: flex;
  align-items: center;
  gap: 1em;
}

#battlesList .widget .widgetContent img.cardImg {
  width: 25%;
}

#battlesList .widget .widgetContent .userImg {
  width: 105px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 2px solid #003a70;
}

@media only screen and (min-width: 768px) {
  #battlesList .widget .widgetContent .userImg {
    width: 130px;
    aspect-ratio: 1/1;
  }
}

@media only screen and (min-width: 992px) {
  #battlesList .widget .widgetContent .userImg {
    width: 100px;
    aspect-ratio: 1/1;
  }
}

@media only screen and (min-width: 1200px) {
  #battlesList .widget .widgetContent .userImg {
    width: 125px;
    haspect-ratio: 1/1;
  }
}

#battlesList .widget .widgetContent span {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5em;
  text-transform: capitalize;
}

#battlesList .widget .widgetContent p {
  margin: 10px 0;
}

#battlesList .widget hr {
  border: 1px solid #003a70;
  border-radius: 50px;
  margin: 1.5em 0 0.5em 0;
}

@media only screen and (min-width: 992px) {
  #battlesList .widget {
    width: 39%;
    margin: 0.5em;
  }
}

@media only screen and (min-width: 992px) {
  #battlesList {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* --------------- Confirm ------------- */
#confirm {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 203, 5, 0.31);
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm .primary {
  margin: 2em auto;
  bottom: 1em;
}

#chart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#chart p {
  padding: 0.2em;
  color: #eb5757;
}

#chart p:first-of-type {
  color: #219653;
}

/* Create Battle */
.newBattle .card-active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 1 !important;
}

@media only screen and (min-width: 768px) {
  .newBattle .card {
    opacity: 0.6;
    transition: all 1s;
  }
}

@media only screen and (min-width: 768px) {
  .loadingNew {
    top: 50% !important;
  }
}

#battle-Card {
  width: unset !important;
  height: unset !important;
}

@supports (-moz-appearance: none) {
  .userImg {
    border-radius: 24px !important;
    width: 130px;
    height: 130px;
  }
  .primary,
  .secondary {
    width: min-content;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .userImg {
      border-radius: 24px !important;
      width: 130px;
      height: 130px;
      margin-right: 1em;
    }
    .widget {
      margin: 1em !important;
    }
    canvas {
      display: none;
    }
    #cardsViewport .card {
      width: 29%;
      height: min-intrinsic;
      margin: 1em;
    }
    .cardDetail img {
      margin-right: 1em;
    }
    .cardImg {
      margin-right: 1em;
    }
  }
}
